.Section {
    width: 100%;
    margin: auto;
    max-width: 800px;
    text-align: center;
    padding-top: 100px;
}

.Description {
    line-height: 30px;
}

.Meeting{
    width: 100%;
    max-width: 800px;
    
}

